{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="eventos-container">

    {% if user.perfil == "ORGANIZADOR" %}
        <div style="text-align: right; margin-bottom: 20px;">
            <a href="{% url 'criar_evento' %}"
               class="btn-inscrever"
               style="
                   background:#0d6efd;
                   padding:10px 20px;
                   color:white;
                   text-decoration:none;
                   border-radius:6px;
                   font-weight:bold;
               ">
                + Criar Evento
            </a>
        </div>
    {% endif %}

    {% for evento in eventos %}
        <div class="card-evento">
            <h2>{{ evento.nome }}</h2>

            <p>Vagas: {{ evento.vagas }} | Inscritos: {{ evento.inscricao_set.count }}</p>

            {% if evento.id in inscricoes_ids %}
                <p class="texto-inscrito">Você já está inscrito</p>

                <form method="POST" action="{% url 'cancelar_inscricao' evento.id %}">
                    {% csrf_token %}
                    <button class="btn-cancelar">Cancelar inscrição</button>
                </form>

            {% else %}
                <form method="POST" action="{% url 'inscrever_evento' evento.id %}">
                    {% csrf_token %}
                    <button class="btn-inscrever">Inscrever</button>
                </form>
            {% endif %}
            {% if user.perfil == "ORGANIZADOR" %}
                <form method="POST" action="{% url 'excluir_evento' evento.id %}">
                {% csrf_token %}
                <button class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir este evento?')">
                        Excluir Evento
    </button>
</form>
{% endif %}
        </div>
    {% endfor %}

</div>

{% endblock %}
