{% extends 'base.html' %}

{% block title %}Início - SGEA{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.first_name|default:user.username }}!</p>
        <a href="{% url 'listar_eventos' %}">Ver Eventos</a>
        <a href="{% url 'listar_certificados' %}" class="btn-link">Ver Certificados</a>

        <a href="{% url 'logout' %}">Sair</a>

    {% else %}
        <p>Bem-vindo! Acesse o sistema para participar dos eventos acadêmicos.</p>
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'cadastro' %}">Cadastrar-se</a>
    {% endif %}
{% endblock %}
